<Layouts.app flash={@flash} current_scope={@current_scope} current_path={@conn.request_path}>
  <:title>
    <h1>Edit Post</h1>
  </:title>

  <.post_form changeset={@changeset} action={~p"/posts/#{@post}"} return_to={~p"/posts"} />
</Layouts.app>
