<Layouts.app
  flash={@flash}
  current_scope={@current_scope}
  current_path={@conn.request_path}
  cart_count={@cart_count}
  cart_subtotal={@cart_subtotal}
  notification_count={@notification_count}
>
  <.title>
    <h1>New Post</h1>
  </.title>

  <.post_form changeset={@changeset} action={~p"/posts"} return_to={~p"/posts"} />
</Layouts.app>
